* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  font-family: 'Merriweather Sans', sans-serif;
}

:root {
  var-black: #3f3f3a;
  var-red: #ed535a;
  var-gray: #dfdfdf;
}

/* header */
#brand {
  background: var(gray);
  height: 120px;
  padding-top: 32px;
  text-align: center;
}

#banner {
  background: #21211e url(../images/banner1.jpg) center center no-repeat;
  background-size: cover;
  border-bottom: 4px solid var(gray);
  color: #fff;
  height: 476px;
  padding-top: 220px;
  position: relative;
  text-align: center;
}

#overlay {
  background: rgba(33, 33, 30, 0.9);
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#banner h1 {
  font-size: 40px;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  margin: 0;
  position: relative;
  z-index: 3;
}


/* menu */
nav {
  left: 510px;
  margin-top: -40px;
  position: absolute;
  z-index: 5;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  margin-right: 30px;
}
nav .on {
  border-bottom: 4px solid var(gray);
}

nav a {
  color: #fff;
  text-decoration: none;
}


/* content */
section {
  min-height: 400px;
}

section h2 {
  font-family: 'Merriweather', serif;
  text-align: center;
}

section .box {
  border: 4px solid var(gray);
  min-height: 400px;
  padding: 10px;
}

section .box h3 {
  font-family: 'Merriweather', serif;
  text-align: center;
}


#verk {
  background: var(gray);
}
