* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
  var-black: #3f3f3a;
  var-red: #ed535a;

  var-gray: #dfdfdf;
  var-txt-gray: #848484;

  var-border-size: 4px;
  var-border: var(border-size) solid var(gray);

  var-font-serif: 'Merriweather', serif;
  var-font-sans-serif: 'Merriweather Sans', sans-serif;

  var-font-xlarge: 40px;
  var-font-large: 20px;
  var-font-normal: 14px;
  var-font-small: 12px;

  var-line-height-xlarge: 50px;
  var-line-height-normal: 25px;

  var-hr-width: 40px;
}


body {
  font-family: var(font-sans-serif);
  font-size: var(font-normal);
  color: var(black);
}


/* header */
#brand {
  background: var(gray);
  height: 120px;
  padding-top: 32px;
  text-align: center;
}

#banner {
  background: #21211e url(../images/banner1.jpg) center center no-repeat;
  background-size: cover;
  border-bottom: var(border);
  color: #fff;
  height: 476px;
  padding-top: 220px;
  position: relative;
  text-align: center;
}

#overlay {
  background: rgba(33, 33, 30, 0.9);
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

#banner h1 {
  font-size: var(font-xlarge);
  font-family: var(font-serif);
  font-weight: normal;
  margin: 0;
  position: relative;
  z-index: 10;
}


/* menu */
nav {
  margin-top: -40px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 15;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
}
nav .on a,
nav a:hover {
  border-bottom: var(border);
  padding-bottom: 14px;
}

/* content */
section {
  min-height: 400px;
}

section h2 {
  font-family: var(font-serif);
  font-size: var(font-xlarge);
  text-align: center;
}

section .box {
  border: 4px solid var(gray);
  min-height: 400px;
  padding: 10px;
}

section .box h3 {
  font-family: var(font-serif);
  font-size: var(font-large);
  text-align: center;
}

hr {
  border: 0;
  height: var(border-size);
  width: var(hr-width);
  background-color: var(gray);
}

p {
  line-height: var(line-height-normal);
  text-align: center;
  color: var(txt-gray);
}

.gray p {
  color: var(black);
}

.gray hr {
  background-color: var(black);
}

#verk {
  background: var(gray);
}
